<!DOCTYPE html>
<html lang="en-US">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<body>

<div ng-app="app" ng-controller="collectionsController">
    <ng-include src="'partials/header.html'"></ng-include>
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ng-include src="'partials/sidebar.html'"></ng-include>
        </div>
        <div class="col-sm-9 col-md-10">
            <ul>
                <li ng-repeat="source in sources">
                    <a href="/source.html?id={{source.id}}&collectionId={{source.collectionId}}">{{source.name}}</a>
                </li>
            </ul>

            <form ng-submit="addSource(source)">
                <select ng-model="source.collectionId">
                    <option ng-repeat="collection in collections" value="{{collection.id}}">
                        {{collection.name}}
                    </option>
                </select>
                <select ng-model="source.type">
                    <option ng-repeat="type in types" value="{{type.value}}">{{type.name}}</option>
                </select>
                <br/>
                <label>External: </label><input type="checkbox" ng-model="source.external" />
                <br/>
                <input ng-model="source.name" type="text" name="name" />
                <input type="submit" name="New" value="New"/>
            </form>
        </div>
    </div>

</div>


<script>
    var app = angular.module("app", ["ngCookies"]);

    app.controller('collectionsController', function($scope, $http, $cookies) {

        $scope.types = [
            {
                value: 0,
                name: "Float"
            },
            {
                value: 1,
                name: "Integer"
            },
            {
                value: 3,
                name: "Money"
            },
            {
                value: 4,
                name: "String"
            },
            {
                value: 5,
                name: "Date"
            }
        ];


        jwt = $cookies.get("jwt");

        function prepareForPost(source) {
            if (source.type < 0) {
                source.customType = -source.type;
                source.type = -1;
            } else {
                source.customType = -1;
            }

            return source;
        }


        $scope.addSource = function(source) {
            var req = {
                method: "POST",
                url: "/api/collections/" + source.collectionId + "/sources/new",
                data: $.param(prepareForPost(source)),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    jwt: jwt
                }
            };
            $http(req)
                .then(function(resp) {
                    $scope.sources.push(resp.data);
                    source.collectionId = null;
                    source.type = null;
                    source.external = false;
                    source.name = "";
                });
        }

        if (jwt) {
            var collectionsReq = {method: "GET", url: "/api/collections/all", headers: {jwt: jwt}};
            $http(collectionsReq).then(function(response) {
                $scope.collections = response.data;
            });

            var sourcesReq = {method: "GET", url: "/api/sources/all", headers: {jwt: jwt}};
            $http(sourcesReq).then(function(response) {
                $scope.sources = response.data;
            });

            var customTypesReq = {method: "GET", url: "/api/customTypes/all", headers: {jwt: jwt}};
            $http(customTypesReq).then(function(response) {
                response.data.forEach(function(r) {
                    $scope.types.push({value: -r.id, name:r.name});
                });
            });
        }
    });
</script>

</body>
</html>