<!DOCTYPE html>
<html lang="en-US">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<body>

<div ng-app="app" ng-controller="collectionsController">
    <ng-include src="'partials/header.html'"></ng-include>
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ng-include src="'partials/sidebar.html'"></ng-include>
        </div>
        <div class="col-sm-9 col-md-10">
            {{source.name}}
            <ul>
                <li ng-repeat="value in values">
                    {{value.value}}
                </li>
            </ul>
            <form ng-if="!source.external" ng-submit="addValue(value)">
                <span ng-repeat="t in toUpload">
                    <input ng-model="$parent.$parent.value[t.key]" type="text" placeholder="{{t.key}}" value=""/>
                    <span ng-if="!$last"><br/></span>
                    <input type="submit" name="New" value="New" />
                </span>
            </form>
            <form ng-if="source.external">
                <input data-my-Directive type="file" />
                <input type="hidden" id="sourceId" value="{{source.id}}" />
                <button ng-click="filePicked()">Upload</button>
            </form>

            <form ng-if="addingMapping" ng-submit="uploadMappings(mapping)">
                <span ng-repeat="t in toUpload">
                    <label>{{t.key}}: </label>
                    <select ng-model="$parent.mapping[t.key]">
                        <option ng-repeat="header in headers" value="{{header}}">{{header}}</option>
                    </select>
                    <br/>
                </span>
                <input type="submit" value="Set headers" />
            </form>

        </div>
    </div>

</div>


<script>
    var app = angular.module("app", ["ngCookies"]);

    app.directive('myDirective', function (httpPostFactory) {
        return {
            restrict: 'A',
            scope: false,
            link: function (scope, element, attr) {

                element.bind('change', function () {
                    var formData = new FormData();
                    formData.append('upload', element[0].files[0]);
                    element[0].value = "";
                    httpPostFactory("/api/sources/" + scope.source.id + "/values/upload", formData, function (resp) {
                        if (resp.headers("status") == "needHeaders") {
                            scope.getMapping(resp.data);
                        } else {
                            scope.addValues(resp.data);
                        }
                    });
                });

            }
        };
    });

    app.factory('httpPostFactory', function ($http) {
        return function (file, data, callback) {
        $http({
                url: file,
                method: "POST",
                data: data,
                headers: {'Content-Type': undefined}
            }).then(function (response) {
                callback(response);
            });
        };
    });

    app.controller('collectionsController', function($scope, $http, $cookies, $location, httpPostFactory) {

        jwt = $cookies.get("jwt");

        url = new URL($location.absUrl());
        id = url.searchParams.get("id");

        $scope.toUpload = [{key: "amount", placeholder: "value"}];

        function arrarify(obj) {
            arr = [];
            for (key in obj) {
                arr.push({key: key, type: obj[key]});
            }
            return arr;
        }

        $scope.addingMapping = false;
        $scope.getMapping = function(headers) {
            $scope.addingMapping = true;
            $scope.headers = headers;
        }

        $scope.uploadMappings = function(mapping) {
            var req = {
                method: "POST",
                url: "/api/sources/" + id + "/mapping/set",
                data: $.param(mapping),
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
            };
            $http(req)
                .then(function(resp) {
                    console.log(resp);
                });
        }

        $scope.addValues = function(values) {
            $scope.values.push.apply($scope.values, values);
        }

        $scope.addValue = function(value) {

            for (t in $scope.toUpload) {
                var key = $scope.toUpload[t].key;
                value[key] = value[key] || "";
            }

            var req = {
                method: "POST",
                url: "/api/sources/" + id + "/values/new",
                data: $.param(value),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    jwt: jwt
                }
            };
            $http(req)
                .then(function(resp) {
                    if (resp.data) {
                        $scope.values.push(resp.data);
                    }
                    for (v in value) {
                        value[v] = "";
                    }
                });
        }

        if (jwt) {
            var sourceReq = {method: "GET", url: "/api/sources/" + id, headers: {jwt: jwt}};
            $http(sourceReq).then(function(response) {
                $scope.source = response.data;
                if (response.data.type == null) {
                    $scope.toUpload = arrarify(response.data.customType);
                }
            });

            var valuesReq = {method: "GET", url: "/api/sources/" + id + "/values/all", headers: {jwt: jwt}};
            $http(valuesReq).then(function(response) {
                $scope.values = response.data;
            });
        }
    });
</script>

</body>
</html>