<!DOCTYPE html>
<html lang="en-US">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<body>

<div ng-app="app" ng-controller="collectionsController">
    <ng-include src="'partials/header.html'"></ng-include>
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ng-include src="'partials/sidebar.html'"></ng-include>
        </div>
        <div class="col-sm-9 col-md-10">
            {{source.name}}
            <ul>
                <li ng-repeat="value in values">
                    {{value.name}}: {{value.amount}}
                </li>
            </ul>
            <form ng-submit="addValue(value)">
                <input ng-model="value.name" type="text" placeholder="name"/>
                <input ng-model="value.amount" type="number" placeholder="amount" step="0.01"/>
                <input type="submit" name="New" value="New" />
            </form>
        </div>
    </div>

</div>


<script>
    var app = angular.module("app", ["ngCookies"]);

    app.controller('collectionsController', function($scope, $http, $cookies, $location) {

        jwt = $cookies.get("jwt");

        url = new URL($location.absUrl());
        id = url.searchParams.get("id");
        collectionId = url.searchParams.get("collectionId");

        $scope.addValue = function(value) {
            value.collectionId = collectionId;

            var req = {
                method: "POST",
                url: "/api/sources/" + id + "/values/new",
                data: $.param(value),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    jwt: jwt
                }
            };
            $http(req)
                .then(function(resp) {
                    console.log(resp);
                });
        }

        if (jwt) {
            var sourceReq = {method: "GET", url: "/api/sources/" + id, headers: {jwt: jwt}};
            $http(sourceReq).then(function(response) {
                $scope.source = response.data;
            });

            var valuesReq = {method: "GET", url: "/api/sources/" + id + "/values/all", headers: {jwt: jwt}};
            $http(valuesReq).then(function(response) {
                $scope.values = response.data;
            });
        }
    });
</script>

</body>
</html>